<form [formGroup]="applyForm" (submit)="submitNames()">
    <label for="x-name">X player name</label>
    <input id="x-name" type="text" formControlName="xName">

    <label for="o-name">O player name</label>
    <input id="o-name" type="text" formControlName="oName">

    <button type="submit" class="primary">Submit</button>
  </form>

<table>
    <tr>
        <td>
         <app-tictactoe-square [(selected)]="selectedSquare[0]" [(state)]="boardState[0]"></app-tictactoe-square>
        </td> 
        <td>
         <app-tictactoe-square [(selected)]="selectedSquare[1]" [(state)]="boardState[1]"></app-tictactoe-square>
        </td>
        <td>
         <app-tictactoe-square  [(selected)]="selectedSquare[2]" [(state)]="boardState[2]"></app-tictactoe-square>
        </td>
     </tr>

    <tr>
        <td>
         <app-tictactoe-square  [(selected)]="selectedSquare[3]" [(state)]="boardState[3]"></app-tictactoe-square>
        </td> 
        <td>
         <app-tictactoe-square  [(selected)]="selectedSquare[4]" [(state)]="boardState[4]"></app-tictactoe-square>
        </td>
        <td>
         <app-tictactoe-square  [(selected)]="selectedSquare[5]" [(state)]="boardState[5]"></app-tictactoe-square>
        </td>
     </tr>

    <tr>
       <td>
        <app-tictactoe-square  [(selected)]="selectedSquare[6]" [(state)]="boardState[6]"></app-tictactoe-square>
       </td> 
       <td>
        <app-tictactoe-square  [(selected)]="selectedSquare[7]" [(state)]="boardState[7]"></app-tictactoe-square>
       </td>
       <td>
        <app-tictactoe-square  [(selected)]="selectedSquare[8]" [(state)]="boardState[8]"></app-tictactoe-square>
       </td>
    </tr>

</table>


<div *ngIf="winnerData">
    <h2 *ngFor="let data of winnerData">{{data.winner}} beat {{data.getLoser()}}!</h2>
</div>

