.container {
    width:200px;
    position: relative;
    text-align: center;
  }
.selected-container {
    width:200px;
    position: relative;
    text-align: center;
    background-color: rgba(21, 146, 96, 0.175);
}

img {
    width: 200px;
}

.centered {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }