<table>
    <tr>
        <td>
         <app-tictactoe-square></app-tictactoe-square>
        </td> 
        <td>
         <app-tictactoe-square></app-tictactoe-square>
        </td>
        <td>
         <app-tictactoe-square></app-tictactoe-square>
        </td>
     </tr>

    <tr>
        <td>
         <app-tictactoe-square></app-tictactoe-square>
        </td> 
        <td>
         <app-tictactoe-square></app-tictactoe-square>
        </td>
        <td>
         <app-tictactoe-square></app-tictactoe-square>
        </td>
     </tr>

    <tr>
       <td>
        <app-tictactoe-square></app-tictactoe-square>
       </td> 
       <td>
        <app-tictactoe-square></app-tictactoe-square>
       </td>
       <td>
        <app-tictactoe-square></app-tictactoe-square>
       </td>
    </tr>

</table>

